In [30]:
import psycopg2

ValueError: zip() argument 2 is shorter than argument 1

In [31]:

connection = psycopg2.connect(user="confeval",
                            password="C0nfeval2022#",
                            host="10.3.1.14",
                            port="5432",
                            database="orcid")

# Create a cursor to perform database operations
cursor = connection.cursor()
# Print PostgreSQL details
print("PostgreSQL server information")
print(connection.get_dsn_parameters(), "\n")
# Executing a SQL query
cursor.execute("SELECT version();")
# Fetch result
print(cursor.fetchone())

PostgreSQL server information
{'user': 'confeval', 'channel_binding': 'prefer', 'dbname': 'orcid', 'host': '10.3.1.14', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

('PostgreSQL 13.7 (Ubuntu 13.7-0ubuntu0.21.10.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.2.0-7ubuntu2) 11.2.0, 64-bit',)

In [32]:
def run(query:str):
    cursor.execute(query)
    return cursor.fetchall()

In [33]:
orcid_id = "0000-0002-4707-7019"

In [34]:
res= run(f"SELECT id, source_name, org_id FROM org_affiliation_relation where orcid = '{orcid_id}' and org_affiliation_relation_role = 'employee' and end_year = null LIMIT 1;")
if len(res) > 0:
    id,name,org_id = res
else:
    name = run(f"SELECT id, source_name, org_id FROM org_affiliation_relation where orcid = '{orcid_id}' and org_affiliation_relation_role = 'employee' LIMIT 1;")

In [35]:
run(f"SELECT name, city FROM org where id = {org_id} LIMIT 1;")

[('Indian Institute of Technology Kharagpur', 'Kharagpur')]

In [36]:
run(f"SELECT * FROM org_affiliation_relation where id = '{id}' LIMIT 1;")

[(551096,
  datetime.datetime(2014, 11, 1, 2, 14, 33, 238000),
  datetime.datetime(2014, 11, 1, 2, 14, 33, 238000),
  None,
  None,
  None,
  None,
  '0000-0002-4707-7019',
  'Binay Samanta',
  'education',
  'Mining',
  0,
  None,
  6,
  1963,
  None,
  '0000-0002-4707-7019',
  None,
  7,
  1959,
  'B.Tech(Hons)',
  None,
  'PUBLIC',
  53187229)]

In [ ]:
# run("SELECT name from org where id in (SELECT org_id FROM org_affiliation_relation where orcid = '{orcid_id}' and org_affiliation_relation_role = 'employment' and end_year is null LIMIT 1) limit 1")